@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: 
        local('Inter'),
        url('./assets/fonts/inter-vf.ttf') format('truetype'),
        url('./assets/fonts/inter-vf.woff2') format('woff2');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: 
        local('Playfair'),
        url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'),
        url('./assets/fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Italic';
    src:
        local('Playfair Italic'),
        url('./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
    /* Global variables */
    --primary-color: #0A192F;
    --secondary-color: #D99726; 
    --terciary-color: #1E3A8A;
    --light-gray-color: #d9d9d994;
    --neutral-grey: #475569;
    --neutral-white: #EFF2F6;
}

body {
    margin: 0;

    /* Colors inheritance */
    color: var(--primary-color);

    /* Resets */
    h1, h2, h3 {
        margin: 0;
        font-family: 'PlayfairDisplay';
    }

    /* Fonts */
    p {
        font-family: 'Inter';
        font-size: 0.8rem;
        color: var(--neutral-grey);
    }
}

/* Nav Section */
.nav-section {
    border-bottom: 1px dashed var(--primary-color);
    padding: 0.5rem;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links-list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            margin: 0;
            padding: 0;
        }
    }
}

/* Presentation Section */
.presentation {
    margin: 400px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Playfair Italic';
        font-weight: 900;
        font-size: 3.4rem;
        letter-spacing: -0.01em;

        color: transparent;
        background: linear-gradient(
            100deg, 
            var(--primary-color) 15%,
            var(--terciary-color) 45%,
            var(--secondary-color) 85%
            );
        background-clip: text;
    }

    p {
        color: var(--neutral-grey);
        letter-spacing: 0.04rem;
    }

    svg {
        position: absolute;
    }
}

/* Data verification section */
.verifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* Header Title */
    header {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* Cards section */
    .verification-cards {
        padding: 2rem 0 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        place-items: center;
    }
}

/* Countries section */
.countries {
    margin-top: 50px;
    position: relative;

    .world {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 1000px;
        }
    }

    article {
        position: relative;
        bottom: 400px;
        text-align: center;

        h1 {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            font-weight: 900;
        }

        .flags-list {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }

}
