@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: 
        local('Inter'),
        url('/assets/fonts/inter-vf.ttf') format('truetype'),
}

@font-face {
    font-family: 'Playfair';
    src: 
        local('Playfair'),
        url('/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
    font-family: 'Playfair Italic';
    src:
        local('Playfair Italic'),
        url('/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
    /* Global variables */
    --primary-color: #0A192F;
    --secondary-color: #D99726; 
    --terciary-color: #1E3A8A;
    --light-gray-color: #d9d9d994;
    --dark-blue-color: #05060fff;
    --neutral-grey-color: #475569;
    --neutral-white-color: #EFF2F6;

    scroll-behavior: smooth;
}
body {
    color: var(--primary-color);
    margin: 0;

    h1, h2, h3, h4 {
        margin: 0;
        font-family: 'Playfair';
    }

    p, span, a {
        font-family: 'Inter';
        font-size: .8rem;
    }
}
